@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.upload-file {
  display: flex;
  margin: 30px auto;
  width: 371px;
}

.upload-file input {
  margin-left: 5px;
}
