@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

.App {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(55, 55, 55);
  text-align: center;
  min-width: 300px;
  max-width: 1920px;
}

.upload-container {
  margin: 30px auto;
  margin-left: 71px;
}

.upload-container input {
  margin-left: 3px;
}

.theatre {
  font-family: "Dosis", sans-serif;
  font-size: xx-large;
  margin: 30px auto;
}

.list-container {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 400px;
}

.check-title:checked {
  transform: scale(1);
}

.fetched-form {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 700px;
  position: relative;
}

.movie-card {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  display: flex;
  margin-bottom: 20px;
  height: 150px;
  background-color: #ffca9e22;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transform: scale(0.99);
}

.movie-card:hover {
  box-shadow: 10px 10px 21px -20px rgba(0, 0, 0, 0.75);
  transform: scale(1);
}

@media (max-width: 600px) {
  .movie-card {
    height: 200px;
  }
}

@media (max-width: 440px) {
  .movie-card {
    height: 230px;
  }
}

.card-label,
.card-checkbox {
  cursor: pointer;
}

.card-image {
  width: 40%;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px 5px;
}

.card-title {
  position: absolute;
  font-size: large;
  padding-left: 10px;
  padding-right: 50px;
  overflow: hidden;
}

.card-overview {
  position: absolute;
  top: 60px;
  padding-left: 20px;
  padding-right: 50px;
  font-size: small;
  overflow: hidden;
}

@media (max-width: 440px) {
  .card-overview {
    font-size: x-small;
    top: 90px;
  }
}

@media (max-width: 330px) {
  .card-overview {
    display: none;
  }
}

.card-date {
  position: absolute;
  top: 120px;
  right: 25px;
}

@media (max-width: 600px) {
  .card-date {
    top: 165px;
    right: 25px;
  }
}

@media (max-width: 440px) {
  .card-date {
    top: 195px;
  }
}

.card-checkbox {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 20px;
  width: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px 15px;
  background-color: #ff97719f;
  border-radius: 5px;
  transform-origin: bottom left;
  transition: all 1300ms ease-in-out;
  cursor: pointer;
  /* --rotate-deg: 2deg; */
}

.title-container:first-child:hover {
  transform: scale(1.001) rotate(-2deg);
}

.title-container:last-child:hover {
  transform: scale(1.001) rotate(2deg);
}

.title {
  cursor: pointer;
}

.btn {
  margin-top: 25px;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 25px;
  font-size: small;
}

.btn:hover {
  transform: scale(1.05);
}

.saved {
  margin-top: 30px;
}

.btn-home {
  margin-top: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.search-bar {
  margin: 30px auto;
}

.btn-search {
  height: 30px;
  cursor: pointer;
}

.search-input {
  margin-right: 2px;
  height: 30px;
  width: 250px;
}

@media (max-width: 315px) {
  .search-input {
    width: 200px;
  }
}
